@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #ffffff;
    position: relative;
}

.header{
    background-color: rgb(241, 214, 184);;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo{
    cursor: pointer;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000000;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.header .btn button{
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #ffffff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover{
    background-color: #ffffff;
    color: #000000;
    transform: scale(1.1);
}
.all{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(240, 224, 200);
    width: 100%;
    border-radius:  10px;
    padding: 20px 30px;
}
.caja {
    display: flex;
    padding: 35px;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
}
.bill{
    width: 25%;
    height: 50%;
}

.texto {
    padding-left: 20px; 
}
.texto_steve {
    padding-right: 20px;
}
.te {
    font-style: initial;
}
.titulo{
   font-family: "Poppins", sans-serif;
    color: #686868;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 5px gray;
}